version: "3.10"

services:

  db:
    image: postgres:latest
    restart: always
    env_file:
      - .env
    volumes:
      - "./postgres:/var/lib/postgresql/data"

  app:
    build: .
    volumes:
      - .:/config
      - ./static:/app/static
      - ./media:/app/media
    ports:
    - "8027:8027"
    command: bash -c "python manage.py collectstatic --no-input && python manage.py makemigrations  && python manage.py migrate && gunicorn core.wsgi:application -w 4 -b 0.0.0.0:8027"
    env_file:
      - .env
    depends_on:
      - db

#  nginx:
#    image: nginx:latest
#    volumes:
#      - ./nginx.conf:/etc/nginx/nginx.conf
#    ports:
#      - "80:80"
#    depends_on:
#      - app